body {
    
}

#box-form {
    width:300px;
    background-color: rgb(209, 209, 209);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:20px;
}
#submit-button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
}
#text-area-input:hover {
    box-shadow: 10px 10px 10px rgb(150, 164, 23);
}

#submit-button:hover {
    background-color:rgb(182, 181, 181);
}

#text-area-input {
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}